.containerA{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeDivContainer{
    font-size: 100px;
    color: red;
    margin-bottom: 30px;
}
.btnDivContainer{
    
}
.btn{
    margin-right: 20px;
}


